<div class="outer-div" style="">
     <div  class="sidebarMenu" style="" [ngClass]="status ? 'closeSideBar' : 'openSideBar'">

        <div class="sideBarUst text-center pt-3" style="">
           

         
            <div class="userInfo mt-3" >
                <div class="userFoto mb-2" id="toggleButton" [ngClass]="status ? 'userPhotoClose' : 'userPhotoOpen'">EE</div>
    
            </div>
    
    
        </div>
    
        <div style="margin-top: 30px;">
            <ul class="nav flex-column">
    
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span class="navIcon">T</span>
                        <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Time Sheets</span>
                    </a>
                </li>
    

    
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="navIcon">H</span>
                        <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Holidays</span>
                    </a>
                </li>
    
            </ul>
        </div>
   
    </div>
  
<!-- [ngStyle]="{'margin-left': status? '-48%' : '-40%'}" -->
  <div  style="overflow-y: scroll; 
    background-color: aqua;
  " class="content"> 
    
    <!-- <div style="position : sticky;z-index: 150;;top :0;background-color:white;padding: 3% ;"> -->
        <app-header></app-header>
    <!-- </div> -->
    <!-- <div style="position: relative;"> -->
        <router-outlet></router-outlet>
    <!-- </div> -->
</div>
</div>