<div class="outer-div">
     <div  class="sidebarMenu" style="" [ngClass]="status ? 'closeSideBar' : 'openSideBar'">

        <div class="sideBarUst text-center pt-3" style="">
           

         
            <div class="userInfo mt-3" >
                <div class="userFoto mb-2" (click)="clickEvent()" [ngClass]="status ? 'userPhotoClose' : 'userPhotoOpen'">EE</div>
    
            </div>
    
    
        </div>
    
        <div style="margin-top: 30px;">
            <ul class="nav flex-column">
    
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span class="navIcon">T</span>
                        <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Time Sheets</span>
                    </a>
                </li>
    

    
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="navIcon">H</span>
                        <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Holidays</span>
                    </a>
                </li>
    
            </ul>
        </div>
   
    </div>
  

  <div  style="" [ngStyle]="{'margin-left': status? '-48%' : '-40%'}"> 
    <!-- <div class="flex-column"> -->
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>
</div>
