.outer-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100% !important;
}

.sidebarMenu{
  background-color: #00417b;
  color: #fff;
  z-index: 100;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust as needed */
    height: 100%;
   
    transition: transform 0.3s ease;

}
.openSideBar{
  color: #fff;
  transition: .3s;
  // color:#00417b !important;
}
.closeSideBar{
  width: 60px;
   transition: .3s;
  //  color: #fff;
  
}


.logo{
display: inline-block;
font-weight: bold;
font-size: 16px;
color: #fff;
border: 2px solid #fff;
border-radius: 4px;
line-height: normal;
padding: 4px 8px;
}
.userFoto{
display: inline-flex;
justify-content: center;
align-items: center;
font-weight: bold;
color: #088afe;
background-color: #fff;
line-height: normal;

}
.nav li a{
  color: #fff !important;
  font-size: 14px;
  
}
.navIcon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: bold;
  background-color: #ffbb00;
  color: #fff;
  margin-right: 6px;
  border-radius: 4px;
}

.userPhotoOpen{
  width: 60px;
  height: 60px;
  border-radius: 38px;
  font-size: 20px;
  transition: .40s;
}
.userPhotoClose{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
  transition: .40s;
}

.userFotoOpen{
  display: block;
}
.userNameDar{
  display: none;
}

.navLinkGenis{
  display: inline-block;
  visibility: visible;
}
.navLinkDar{
  display: none;
  visibility: hidden;
}

.genisSideBarAlt{
  width: 160px;
}
.darSideBarAlt{
  width: 60px;
}

.content{
  margin-left: 250px; /* Adjust to match sidebar width */
  transition: margin-left 0.3s ease;
}
.content.full-width {
  margin-left: 0;
}
@media (min-width: 768px) {
  .content {
    max-width: 100%;
  }
}