
<div style="">
    <div   class="row home-div"> 
      <div class="col" style="">
        <h1 class="title">Zoft<span style="color: rgb(82, 82, 205);"> Portal</span> </h1>
    </div>
      <div class="col" style="text-align: right">
       
      <div  style="display:flex;  justify-content: flex-end; grid-gap: 10px;">
        <i class="fa fa-bell blue-color" style="" aria-hidden="true"></i>
           <i class="fa fa-cog blue-color" aria-hidden="true"></i>
            <div style="display:flex;  justify-content: flex-end;border: 1px solid rgb(209, 198, 198);">
              <h2 >John Doe</h2>
              <img style="border-radius: 50%;width: 25px;height:25px" src="../../../../../assets//icons/gmail.png">
            </div>
      </div>

        
      </div>
</div>
<div style="background-color: rgb(140, 145, 145);width:100%;height:1px;border-bottom:1 px solid darkred;"></div>
</div>