<div style="padding: 2%;background-color: #E9E9E9;height: auto">
    <div class="row">

        <div class="col-3 profile">     
          <div class="profile-det">
            <img src="../../../../../assets/icons/rectangle.svg" width="100%">
            <img class="dp" src="../../../../../assets//images//sample-profile-picture.png">
         <h3 class="profile-name">John Alexander</h3>
         <h4 class="position">UI/UX Designer</h4>
          </div>

          <div class="project-detail">
            <span class="position"><img src="../../../../../assets//icons/projects.svg">&nbsp; Projects</span>
            <div style="padding-top: 35px;">
                <ul *ngFor="let project of projects" >
                    <li>{{project?.title}}</li>
                </ul>
            </div>
        </div>

        <div style="padding: 24px;">
            <span class="position"><img src="../../../../../assets//icons//timesheet.svg">&nbsp; Timesheet</span>
        
            <div class="timesheet">
              
                <div class="form-outline mb-4" >
                    <button class="btn btn-primary btn-block"  type="button">Update Timesheet</button>
                  </div>
            </div>
        </div>

        <div class="leave-status">
            <span class="position"><img src="../../../../../assets//icons//leave.svg">&nbsp; Leave Status</span>
             <div class="leave-type">
                <span>Casual Leave</span>
                <span>03</span>
             </div>
             <div class="leave-type">
                <span>Sick Leave</span>
                <span>03</span>
             </div>
             <div class="leave-type">
                <span>Annual Leave</span>
                <span>15</span>
             </div>
        </div>

        </div>


        <div class="col">
            <div class="col profile" style="padding: 3%;">
                <h3 class="profile-name">Create Post</h3>
                <div class="leave-type">
                    <span><img src="">What's up, John?</span>
                 </div>
                <div style="display: flex;gap: 20px;">
                    <span style="display: flex;gap: 5px;">
                        <img src="../../../../../assets//icons/imgIcon.svg">
                        <h4 class="title">image</h4>
                    </span>
                    <span style="display: flex;gap: 5px;"> 
                        <img src="../../../../../assets//icons/vidIcon.svg">
                        <h4 class="title">video</h4>
                    </span>
                </div>
            </div>    

            <div class="col profile" style="padding: 3%;margin-top: 3%;">
                f
            </div>
        </div>
        <div class="col-3" style=" border-radius: 10px;background: #FFFFFF;">
3
        </div>
    </div>
</div>