
    .dp {
        position: relative;
        top:-36px;
        border-radius: 50%;
        height: 65px;
        width: 65px;
    }

    .profile{
        background: #FFFFFF;
        border-radius: 10px;
        margin-right: 1%;
        padding-left: 0px;
        height:fit-content;
    }
    .profile-det{
        border-bottom:  0.5px solid #C6C6C6;
        width: 105%;   
        text-align: center;
    }

    .profile-name{
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #424242;
    }
    .position{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
       color: #8D8D8D;
        
    }
    .project-detail{
        padding: 24px;
         border-bottom:  0.5px solid #C6C6C6;
         width: 105%;
    }

    li{
    // font-family: 'SF Pro Display';
    margin-left: 0px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #262626;
    }

    .timesheet{
        padding-top: 35px;
        border-bottom:  0.5px solid #C6C6C6;
    }

    .leave-status{
        padding: 24px;
        border-bottom:  0.5px solid #C6C6C6;
    }

    .leave-type{
        background-color: #C2C2C2;
        margin-top:15px ;
        padding: 10px;
        border-radius: 5px;
             font-style: normal;
             font-weight: 500;
             font-size: 14px;
             line-height: 17px;
             color: #424242;
            display: flex;
             justify-content: space-between;
    }

 .title{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
padding-top: 15px;
color: #818181;
 }