
   <div>
        <div   class="row home-div"> 
          <div class="col" style="">
            <h1 class="title">Zoft<span style="color: rgb(82, 82, 205);"> Portal</span> </h1>
        </div>
          <div class="col" style="text-align: right">
           
              <i class="fa fa-bell blue-color"  aria-hidden="true"></i>
              <i class="fa fa-cog blue-color" aria-hidden="true"></i>
              
              
              <span class="row">
               <h2 class="desc">John Doe</h2>
              </span>
            
          </div>
    </div>
</div>