<div style="overflow: hidden;">
    
    <div   class="row head-div" style="background-color: black;margin-left: 0px !important;"> 
      <div class="col" style="padding: auto;">
        <h1 class="title">Zoft<span style="color: rgb(82, 82, 205);"> Portal</span> </h1>
    </div>
      <div class="col" style="text-align: right">
       
        <button type="button" style="height: 26px;width:fit-content;border:1px solid rgb(91, 90, 90);padding: 1px 5px 3px 5px;" class="btn btn-light">Sign Up</button>
      <i class="fa fa-question-circle" style="color: skyblue;width: 50px;height: 26px;"></i>
      </div>
      <span style="border-bottom: 2px solid rgb(198, 194, 194);margin-left: 10px;padding-top: 0px;"></span>
      
</div>


    <div style="margin:5% 20% 0% 20%;height: 450px;text-align: center;border: 1px solid rgb(198, 194, 194);background-color: blue;">
        <div class="container ps-md-0">
        <div class="row g-0">
          <div class=" col-md-6 col-lg-6 bg-image" style=""></div>
          <div style="margin-top: 0%;" class="col-md-6 col-lg-6">
                <div class="row">
                    
                    <!-- Sign In Form -->
                    <form>
                        

                      <div class="row">
                        <div class="col">
                        <h1 class="title">Sign in</h1>
                      </div>
                        <div class="col">
                          <label for="floatingInput">Email address</label>
                        </div>
                        <div class="col">
                          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        </div>
                        
                      </div>

                      <div class="row">
                        <div class="col">
                          <label for="floatingInput">password</label>
                        </div>
                        <div class="col">
                          <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                        </div>
                        
                      </div>


                 
      
                      <div class="form-check mb-3">
                        <label class="form-check-label" for="rememberPasswordCheck">
                          I forgot my password
                        </label>
                      </div>
      
                      <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" [routerLink]="['/admin']" (click)="login()" type="submit">login</button>
                     
                      </div>
      
                    </form>
                
                </div>
        
          
          </div>
        </div>
      </div>
      </div>
</div>
