.sidebarMenu{
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(180deg, #F4F5F9 0%, #F4F5F9 100%);
  overflow-x: hidden;
  transition: 0.1s;
  z-index: 1000;

}

.open-sidebar{
  transition: 0.9s;
  width: 230px !important;
}

.open-menu{
  transition: 0.9s;
  margin-left: 230px;
}
.nav-header {
  background-color: #ffffff;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.close-sidebar {
  width: 85px;
  box-shadow: none;
  transition: 0.8s;
}

.close-menu {
  margin-left: 85px;
}

.main {
  transition: margin-left .7s;
}

.router-view-div {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}


@media (max-width: 1119.98px) {
  .open-menu {
      margin-left: 85px;
  }

}
