
<div class="full-height">
    <div  class="sidebarMenu" [ngClass]="{'open-sidebar': isSidebarOpened,'close-sidebar': !isSidebarOpened}" class="sidebarMenu">
        <app-sidebar [isSidebarOpened]="isSidebarOpened" (sideOpenEvent)="sidebarEvent($event)">
        </app-sidebar>
    </div>
    <div   class="main full-height" [ngClass]="{'open-menu': isSidebarOpened,'close-menu': !isSidebarOpened}">
  
        <div class="router-view-div full-height">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
  
    </div>
  </div>
  