<div class="outer-div">
  <div class="user"></div>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col img-div">
          <img
            class="avatar"
            src="../../../../../assets//images//sample-profile-picture.png"
          />
          <div class="name-div">
            <h3 class="name">John Doe</h3>
            <h3 class="sub-title">UI/UX Designer</h3>
          </div>
        </div>
        <!-- <div class="col" style="gap: 10px;margin-left: 1%;">
      <h3 class="name">John Doe</h3>
      <h3 class="sub-title">UI/UX Designer</h3>
    </div> -->
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <button
            class="btn btn-primary btn-block"
            style="margin: 10px"
            type="button"
          >
            Give Kudos
          </button>
          <button type="button" class="btn btn-light" style="margin: 10px">
            Johndoe@zoftsolutions.net
          </button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn btn-light" style="margin: 10px">
            Kudos received : 16
          </button>
          <button type="button" class="btn btn-light" style="margin: 10px">
            +91 9744 233 222
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="col-5">
      <div class="about-div">
        <h3 class="title">About me</h3>
        <p class="content">
          Hey there! I'm John Doe, a passionate UI/UX designer. I love crafting
          beautiful and user-friendly designs that make people's lives easier.
          With my eye for aesthetics and understanding of user behavior, I
          create intuitive interfaces that leave a lasting impression. I stay
          up-to-date with design trends and enjoy collaborating with teams to
          deliver exceptional solutions. Let's work together to create something
          amazing
        </p>
      </div>

      <div class="about-div">
        <h3 class="title">Skills</h3>
        <div style="display: flex; flex-wrap: wrap">
          <div *ngFor="let skill of skills">
            <h3 class="skills">{{ skill }}</h3>
          </div>
        </div>
      </div>

      <div class="about-div">
        <h3 class="title">Reporting Manager</h3>
        <div style="display: flex; gap: 10px; padding-top: 10px">
          <img
            src="../../../../../assets//images//sample-profile-picture.png"
            width="40"
            height="40"
            style="border-radius: 50%"
          />
          <span style="display: grid; gap: 0px">
            <h4 class="title">John Alexander</h4>
            <h5 class="position" style="margin-top: -8px !important">
              Project Manager
            </h5>
          </span>
        </div>
      </div>

      <div class="members-det">
        <div class="about-div members">
          <div class="row">
            <div class="col-12">
              <div style="display: flex; justify-content: space-between">
                <h3 class="title">Team</h3>
                <h3 class="view-all">View All</h3>
              </div>
              <div
                *ngFor="let member of teamMembers"
                style="display: flex; gap: 10px; padding-top: 10px"
              >
                <img
                  [src]="member?.avatar"
                  width="40"
                  height="40"
                  style="border-radius: 50%"
                />
                <span style="display: grid; gap: 0px">
                  <h4 class="team-member">{{ member?.name }}</h4>
                  <h5 class="position" style="margin-top: -8px !important">
                    {{ member?.position }}
                  </h5>
                </span>
              </div>
            </div>
            <!-- <h3 class="title">View All</h3>  -->
          </div>
        </div>
        <div class="about-div members">
          <div class="row">
            <div class="col-12">
              <div style="display: flex; justify-content: space-between">
                <h3 class="title">Collegues</h3>
                <h3 class="view-all">View All</h3>
              </div>
              <div
                *ngFor="let collegue of collegues"
                style="display: flex; gap: 10px; padding-top: 10px"
              >
                <img
                  [src]="collegue?.avatar"
                  width="40"
                  height="40"
                  style="border-radius: 50%"
                />
                <span style="display: grid; gap: 0px">
                  <h4 class="team-member">{{ collegue?.name }}</h4>
                  <h5 class="position" style="margin-top: -8px !important">
                    {{ collegue?.position }}
                  </h5>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="about-div">
        <div style="display: flex; justify-content: space-between">
          <h3 class="title">Working Projects</h3>
          <h3 class="view-all">View All</h3>
        </div>

        <div style="display: flex; flex-wrap: wrap;border-bottom: 0.3px solid #b0b0b0;">
          <div *ngFor="let project of projects">
            <h3 class="projects-view">{{ project }}</h3>
          </div>
        </div>

        <div style="display: flex;margin-top: 3%; justify-content: space-between">
          <h3 class="title">Completed Projects</h3>
          <h3 class="view-all">View All</h3>
        </div>

        <div style="display: flex; flex-wrap: wrap;">
          <div *ngFor="let project of projects">
            <h3 class="projects-view">{{ project }}</h3>
          </div>
        </div>
      </div>

      <div class="about-div" *ngFor="let feed of feeds">
        <div style="display: flex; justify-content: space-between">
          <div class="row">
            <div class="col-3">
              <img
                src="../../../../../assets//images/sample-profile-picture.png"
                style="width: 43px; height: 43px; border-radius: 50%"
              />
            </div>
            <div class="col-9">
              <h4 class="team-member" style="color: #424242">John Alexander</h4>
              <h4 class="position">{{ feed?.time }}</h4>
            </div>
          </div>
          <div>
            <img src="../../../../../assets//icons//threedot.svg" />
          </div>
        </div>

        <div>
          <p class="content">{{ feed?.content }}</p>
          <img [src]="feed?.attachment" width="100%" />
          <div style="padding: 15px 10px 10px 0px; display: flex; gap: 20px">
            <span style="display: flex; gap: 5px">
              <i
                class="fa fa-heart"
                style="color: #c53434; font-size: 22px"
              ></i>
              <h3 class="count">12</h3>
            </span>
            <span style="display: flex; gap: 5px">
              <img
                src="../../../../../assets//icons/comment.svg"
                style="margin-top: -16px"
              />
              <h3 class="count">21</h3>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
