<!-- <div class="home-div" style="padding: 2%;overflow: scroll;">
   
    <div class="row" style="">
        <h1>PROFILE</h1>
      <div class="col-9" style="padding: 1%;">
       <div class="row" style="background-color: rgb(235, 232, 232);height: 160px;">
          <div class="col-3" style="">
            <img src="../../../../../assets/images/sample-profile-picture.png" width="150 px" height="160px" style="">
          </div>
        <div class="col-9" >
       <div class="row" style="  ">
              <div class="col" style="grid-gap: 0px !important;">
                <h3>JOHN DOE</h3>
               <h5>Employee ID  100031<br>Designation &nbsp; <span style="font-weight: 600;">Sr. Web Designer</span><br>Date Of Join &nbsp; <span style="font-weight: 600;">10/2/2012</span></h5>
              
               <div class="row">
                 <div style="flex-direction: row;">
                  <div class="row">
                    <span>Career Started &nbsp; 10/2/2012</span>
                 <span>UI UX Designer MindSoft</span>
                  </div>
                 </div>
                 
               </div>
            </div>
            <div class="col" style="text-align: right;">
              <i class="fa fa-edit"></i>
              <h5>
                Years of Experience <span style="font-weight: 600;"> 8 years</span>
              </h5>
            </div>
            </div>
           
          </div>
       </div>


       <div>
        <h3>Leave Status</h3>
        <div class="row" style="grid-gap: 20px;">
           <div class="col" style="border: 1px solid rgb(143, 157, 222);width: 60px;">
              <div style="text-align: center;height: fit-content;">
                <h3>3.0</h3>
                <h3>CASUAL LEAVE</h3>
              </div>
           </div>
           <div class="col" style="border: 1px solid rgb(143, 157, 222);width: 60px;">
            <div style="text-align: center;height: fit-content;">
              <h3>3.0</h3>
              <h3>CASUAL LEAVE</h3>
            </div>
         </div>
         <div class="col" style="border: 1px solid  rgb(143, 157, 222);width: 60px;">
          <div style="text-align: center;height: fit-content;">
            <h3>3.0</h3>
            <h3>CASUAL LEAVE</h3>
          </div>
       </div>
       <div class="col" style="border: 1px solid rgb(143, 157, 222);width: 60px;">
        <div style="text-align: center;height: fit-content;">
          <h3>3.0</h3>
          <h3>CASUAL LEAVE</h3>
        </div>
     </div>
     <div class="col" style="border: 1px solid  rgb(143, 157, 222);width: 60px;">
      <div style="text-align: center;height: fit-content;">
        <h3>3.0</h3>
        <h3>CASUAL LEAVE</h3>
      </div>
   </div>
        </div>
       </div>


       <div>
        <h3>Attendence (As on 31/10/2019)</h3>
        <div class="row" style="grid-gap: 20px;">
           <div class="col" style="background-color: rgb(143, 157, 222);width: 60px;">
              <div style="text-align: center;height: fit-content;">
                <h3>160</h3>
                <h3>Monthly Target Hours</h3>
              </div>
           </div>
           <div class="col" style="background-color:rgb(62, 92, 225);width: 60px;">
            <div style="text-align: center;height: fit-content;">
              <h3>0.0</h3>
              <h3>Hours Worked</h3>
            </div>
         </div>
         <div class="col" style="background-color:   rgb(224, 218, 25);width: 60px;">
          <div style="text-align: center;height: fit-content;">
            <h3>160.0</h3>
            <h3>Remaining Working Hours To Achieve Target</h3>
          </div>
       </div>
    
        </div>
       </div>

       <div>
        <h3>Leave (Leave Balance And History)</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Reason</th>
              <th>From</th>
              <th>To</th>
              <th>Leave Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem ipsum dolor sit amet, consetetur 
                sadipscing elitr, sed diam nonumy</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>Annual leave</td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet, consetetur 
                sadipscing elitr, sed diam nonumy</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td>Annual leave</td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet, consetetur 
                sadipscing elitr, sed diam nonumy</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>Annual leave</td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet, consetetur 
                sadipscing elitr, sed diam nonumy</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td>Annual leave</td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet, consetetur 
                sadipscing elitr, sed diam nonumy</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>Annual leave</td>
              <td>Accepted</td>
            </tr>
          </tbody>
        </table>
       </div>
    
    </div> 
   <div class="col-3" style="padding: 1%;">
    <div class="row">
      <div class="col">
        <div>
          <h3>permenant address<br>        
            Kakkanad, Ernakulam, Kerala. Pin : 67506  </h3>
        </div>
        <div>
          <h3>Emergency Contact Number<br>
            Father 8891565232 </h3>
        </div>
        
<div>
  <h3>Completed Projects <br>     
    CCA <br>     
    SchoolWizard<br>   </h3>  

</div>

<div>
  <h3> Working Projects <br>     
    Oneclick <br>  
    IVSM <br>  
    ZS Portal <br>  
    Onebayshore<br>   
    Mybayshore    </h3>  

</div>
       
       
<div><h3>Team Members
  Employee -1 
  Employee -2 </h3></div>

  <div><h3>Kudos 
    Completed IS MBA 
    Best floor Award Winner </h3></div>

    <div><h3>Completed Courses  
      BMMC  
      MBA 
      </h3></div>


       
      </div>
    </div>
     
    </div>
  </div> 
</div> -->