<!-- 

<div class="outer-div">
  <div class="user"></div>
  <div class="row" style="border-bottom: 0.5px solid #D9D9D9;">
    <div class="col">
      <img
        class="avatar"
        src="../../../../../assets//images//sample-profile-picture.png"
      />
    </div>
    <div class="col" style="gap: 20px">
      <h3 class="name">John Doe</h3>
      <h3 class="sub-title">UI/UX Designer</h3>
    </div>
    <div class="col-2"></div>
    <div class="col" style="padding: 10px;">
      <button class="btn btn-primary btn-block" style="margin: 10px;" type="button">Give Kudos</button>
      <button type="button" class="btn btn-light" style="margin: 10px;">Johndoe@zoftsolutions.net</button>
    </div>
    <div class="col" style="padding: 10px;">
        <button type="button" class="btn btn-light" style="margin: 10px;">Kudos received : 16</button>
        <button type="button" class="btn btn-light" style="margin: 10px;">+91 9744 233 222</button>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="col-5">
      <div class="about-div">
       <h3 class="title">About me</h3>
       <p class="content"> Hey there! I'm John Doe, a passionate UI/UX designer. I love crafting beautiful and user-friendly designs that make people's lives easier. With my eye for aesthetics and understanding of user behavior, I create intuitive interfaces that leave a lasting impression. I stay up-to-date with design trends and enjoy collaborating with teams to deliver exceptional solutions. Let's work together to create something amazing</p>
      </div>

      <div class="about-div">
        <h3 class="title">About me</h3>
        <p class="content"> Hey there! I'm John Doe, a passionate UI/UX designer. I love crafting beautiful and user-friendly designs that make people's lives easier. With my eye for aesthetics and understanding of user behavior, I create intuitive interfaces that leave a lasting impression. I stay up-to-date with design trends and enjoy collaborating with teams to deliver exceptional solutions. Let's work together to create something amazing</p>
       </div>
    </div>
    <div class="col-7" style="background-color: aqua;">
r
    </div>
  </div>
</div> -->
