@import url('../../../../../styles.scss');
.home-div{
     padding: 1%;
    display: flex;
    justify-content: space-between;
   
}


.side-head{
    display:flex;
    gap: 25px; 
     justify-content: flex-end;
    padding-top: 10px;
    padding-right: 20px;
}

.dp {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}